/* General styles 
	(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/
/*this is the sticky footer CSS*/
        html, body {
             height: 100%;
             margin: 0pt;
        }
        .sticky-frame {
             display: table;
             height: 100%;
             width: 100%;
             margin-top: 0;
             margin-bottom: 0;
        }
        .sticky-row {
             display: table-row;
             height: 1px;
        }
        .sticky-row.sticky-expand {
             height: auto;
        }

/* Header styles 
	(all the styles inside the < header > or < nav > tags) 
*/


/* Content styles 
	(all the styles inside the < sections > or < aside > tags)
*/

.logo {
	background-color: yellow;
	border: 1px solid green;
}

.projects {
	background-color: MistyRose;
	border: 1px solid green;
}

.images {
	background-color: PowderBlue;
	border: 1px solid green;
}



/* Footer styles 
	(all the styles inside the < footer > tag)
*/
.social {
	border: 1px solid green;


}


